extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg" alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultricies at neque eget scelerisque. Donec efficitur vitae nibh a ullamcorper. Duis vel auctor nisl. Aenean volutpat, magna vitae sollicitudin bibendum, velit dolor mollis ligula, eget porta justo elit a enim. Fusce condimentum commodo tincidunt. Cras ut arcu posuere enim fringilla cursus ut vel ipsum. Curabitur sed viverra felis. Aliquam et nulla sit amet lectus volutpat condimentum. Nam hendrerit euismod facilisis. Nunc eu bibendum quam. Integer scelerisque hendrerit maximus.

                p Aliquam erat volutpat. Vivamus ac luctus odio. Suspendisse risus libero, imperdiet non pellentesque in, malesuada id nunc. Ut consectetur cursus feugiat. Fusce sed eros et magna imperdiet eleifend at eu orci. Morbi a elementum nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum fringilla diam, quis imperdiet ante feugiat vitae.

                p Suspendisse fringilla nunc sem, at aliquam dolor rhoncus in. Maecenas vitae enim et nisl rutrum sagittis. In hac habitasse platea dictumst. In a ex nisl. Integer sagittis nisi non odio faucibus lobortis. Nam imperdiet ante dolor, vestibulum commodo lectus finibus sed. Vestibulum ac massa ullamcorper, cursus massa vel, hendrerit tortor.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, assumenda. Et, delectus doloribus ratione inventore voluptatem mollitia a quas praesentium?
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="icono Mejores Destino", class="img-fluid")
                    h2.mb-4 Mejores Destino
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, assumenda. Et, delectus doloribus ratione inventore voluptatem mollitia a quas praesentium?
                .col-md-4
                    img(src="/img/icono_precios.svg", alt="icono Mejores Precios", class="img-fluid")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, assumenda. Et, delectus doloribus ratione inventore voluptatem mollitia a quas praesentium?
